__pycache__/
*.py[cod]
*.log

.env
.envrc
.venv
venv/
env/
ENV/

db.sqlite3
db.sqlite3-journal

build/
dist/
*.spec

desktop_app/build/
desktop_app/dist/

node_modules/
.vite/
dist/

*.exe
*.zip
*.rar
*.7z
*.pdf
*.mp4

.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
